/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
/*
h1#page-title.title{
 background: green;
 }
*/
 
 div.logotext{
 position: relative;
 font-size: 200%;
top: 0.853em;
left: 0.3em;
 }
 
h6.site-slogan{
 color: #A4A4A0;
 position: relative;
 top: -0.1em;
 left: 3.2em;
 }
/*
 
 color: #A4A4A4;
position: relative;
margin-bottom: 0.8em;
left: 2em;
*/