/* This file will hold styles that are loaded using the same media query as the wide grid. */
/*
h1#page-title.title{
 background: blue;
 }
*/

 
div.logotext{
 position: relative;
 font-size: 200%;
top: 0.853em;
left: 0.3em;
 }
 
 